<footer class="site__footer">
    <div class="footer__contect">
        <div class="content__text">
            <small> ©Copyright 2016 by Manuel Alejandro All right reserved</small>
        </div>
        <div class="content__icon">
            <a href="https://www.linkedin.com/in/manuelrc" target="_blank" class="icon-linkedin"> </a>
            <a href="https://twitter.com/nz3_manu" target="_blank" class="icon-twitter"> </a>
            <a href="https://github.com/nz3-manu" target="_blank" class="icon-github"> </a>
        </div>
    </div>
</footer>
