<header>
    <div class="header">
        <div class="wrap__header">
            <div class="logo">
                <p> Manuel Ramirez</p>
            </div>
            <div class="hamburguer_container" data-toggle-menu>
                <div class="hamburger"> </div>
            </div>

            <!------- Principal Menu ------->
            <nav class="nav">
                <div class="nav_container">
                    <ul class="nav_list">
                        <li><a href="#home">Acerca de mí</a></li>
                        <li><a href="#services">Servicios</a></li>
                        <li><a href="#portafolio">Portafolio</a></li>
                        <li><a href="#contact">Contactarme</a></li>
                    </ul>
                    <p class="nav_copyright"> &lt/&gt Manuel Ramirez &lt/&gt   </p>
                </div>
            </nav>
        </div>

    </div>
    <!-- Close wrap_header -->
</header>
