<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include header.html %}
    <div class="wrap_content overlay">
        <div class="content_section">
            {{ content }}
        </div>
        {% include footer.html %}
    </div>

</body>
<script type="text/javascript" src="javascript/js.js"></script>
<script type="text/javascript" src="javascript/particles/particles.js"></script>
<script type="text/javascript" src="javascript/particles/app.js"></script>
<script type="text/javascript" src="javascript/particles/stats.js"></script>
</html>
